.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  Martin trying css */

.add-option-error {
  color: #a5afd7;
  font-style: italic;
  margin: 1.6rem 0 0 0;
  padding: 0 1.6rem;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}

.add-option__input {
  background: #333745;
  border: none;
  border-bottom: .3rem solid darken(#333745, 10%);
  color: #a5afd7;
  flex-grow: 1;
  margin: 0 0 1.2rem 0;
  padding: 1.2rem;
}

.header {
  background: #333745;
  color: white;
  margin-bottom: 4.8rem;
  padding: 1.6rem 0;
}

.header__title {
  font-size: 3.2rem;
  margin: 0;
}

.header__subtitle {
  color: #a5afd7;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

@media (min-width: desktop-breakpoint) {
  .header {
    margin-bottom: 4.8rem;
  }
}

.big-button {
  background-color: #8357c5;
  border: none;
  border-bottom: .6rem solid darken(#8357c5, 10%);
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: desktop-breakpoint) {
  .big-button {
    margin-bottom: 4.8rem;
  }
}

.button {
  background: #8357c5;
  border: none;
  border-bottom: .3rem solid darken(#8357c5, 10%);
  color: white;
  font-weight: 500;
  padding: 1.2rem;
}

.button--link {
  background: none;
  border: none;
  color: #a5afd7;
  padding: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.background {
  background-color: #333745;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 10;
}

.modal {
  background: #464b5e;;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: 3.2rem;
  text-align: center;
}

.modal__title {
  margin: 0 0 3.2rem 0;
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 3.2rem 0;
  word-break: break-all;
}

.option {
  border-bottom: 1px solid lighten(#464b5e, 10%);
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 1.6rem;
}

.option__text {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  word-break: break-all;
}

.widget {
  background: #464b5e;
  margin-bottom: 4.8rem;
}

.widget__message {
  border-bottom: 0.1rem solid lighten(#464b5e, 10%);
  color: #a5afd7;
  margin: 0;
  padding: 3.2rem;
  text-align: center;
}

.widget-header {
  background: #3c4251;
  color: #a5afd7;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
}

.widget-header__title {
  margin: 0;
}

html {
  font-size: 62,5%
}


body {
  background-color: #333745;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.dogpicture {
  position: relative;
  float: left;
  width:  auto;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

h1 {
  color: white;
}

.dog-breed-images {
  color: white;
}